body {
    margin: 0px;
    padding: 0px;
}

.header {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.settings {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 30px;
}

.size, .color {
    padding: 5px 10px;
    font-size: 16px;
}

.color {
    background-color: lightcoral;
}